body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 17px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

.main_head {
  min-height: 620px;
  background-color: #d7d6d6; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999; }

.loader_inner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute; }

.header_bg {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #fff;
  height: 100%; }

.header_menu_bg {
  background-color: #ba8e5d;
  height: 68px;
  padding-top: 20px; }

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu_link {
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }
  .menu_link:hover {
    color: #000000;
    border-bottom: 1px solid #000000; }

.logo_wrap {
  width: 385px;
  height: 163px;
  margin: 0 auto;
  margin-top: 30px; }

.logo {
  height: 100%; }

.header_title {
  margin: 0 auto;
  margin-top: 25px;
  width: 905px; }

.title_desc {
  font-size: 48px;
  color: #ffffff;
  font-weight: normal; }

.main_title {
  font-size: 96px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  margin-left: 30px;
  position: relative; }
  .main_title:before {
    content: "";
    display: inline-block;
    background-image: url("/app/img/gaps.png");
    background-size: contain;
    width: 75px;
    height: 54px;
    position: absolute;
    top: 0;
    left: -84px; }

.for {
  text-transform: none;
  font-size: 48px;
  margin-left: -30px; }

.date_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px; }

.when {
  font-size: 50px;
  color: #494949;
  font-weight: bold; }
  .when_second {
    margin-left: 80px; }
  .when_third {
    margin-left: 160px; }

.btn_wrap {
  margin-top: 100px; }

.btn_reg {
  background-color: #0097a2;
  border: none;
  padding: 17px 30px;
  border-radius: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }
  .btn_reg:hover {
    background-color: #007f89; }

.section_first {
  background-image: url("/app/img/part_1.png");
  background-position: 100% 150%;
  background-repeat: no-repeat;
  margin-bottom: 50px; }

.test {
  background-image: url("/app/img/part_2.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 60%; }

.title {
  font-size: 50px;
  font-weight: bold;
  color: #494949;
  margin-top: 70px;
  margin-bottom: 25px; }

.section_second {
  background-color: #f5f5f5;
  padding-bottom: 100px;
  background-image: url("/app/img/part_3.png");
  background-position: 100% -10%;
  background-repeat: no-repeat; }

.success {
  margin-top: 25px;
  padding-left: 50px; }
  .success_right {
    padding-left: 75px; }

.description, .success_title {
  font-size: 25px;
  font-weight: bold;
  color: #6f6f6e;
  line-height: 1.2; }

.success_title {
  position: relative; }
  .success_title:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 78px;
    height: 78px;
    top: -25px;
    left: -100px;
    background-image: url("/app/img/round_flag.png"); }

.success_item {
  margin-top: 10px;
  padding-left: 25px;
  position: relative; }
  .success_item:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    left: 0px;
    background-image: url("/app/img/round_min.png"); }

.btn_wrap_training {
  text-align: right; }

.section_third {
  padding-bottom: 80px;
  background-image: url("/app/img/part_3.png");
  background-position: 100% 117%;
  background-repeat: no-repeat; }

.btn_wrap_program {
  text-align: center; }

.section_couch {
  background-color: #f5f5f5;
  background-image: url("/app/img/part_5.png");
  background-position: 100% 110%;
  background-repeat: no-repeat; }

.bg_couch {
  background-image: url("/app/img/part_5.png");
  background-position: 100% -47%;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%; }

.row_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -120px; }
  .row_wrap_reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-top: -250px;
    margin-left: 70px; }

.wrap_img {
  height: 475px;
  width: 475px; }
  .wrap_img_reverse {
    margin-left: -65px; }

.couch_img {
  height: 100%; }

.testimonials {
  font-style: italic;
  line-height: 1.6;
  font-weight: 300;
  color: #6a6a6a;
  margin-left: -65px;
  font-size: 20px;
  position: relative; }
  .testimonials_reverse {
    text-align: right;
    padding-left: 100px; }
  .testimonials:before {
    content: "";
    display: inline-block;
    background-image: url(/app/img/gaps_grey.png);
    background-size: contain;
    width: 75px;
    height: 54px;
    position: absolute;
    top: 0;
    left: -85px; }

.testimonials_reverse:before {
  content: "";
  display: inline-block;
  background-image: url(/app/img/un_gaps_grey.png);
  background-size: contain;
  width: 75px;
  height: 54px;
  position: absolute;
  top: 0;
  left: 102%; }

.bold_text {
  font-weight: bold; }

.btn_wrap_couch {
  text-align: center;
  margin: 0;
  margin-bottom: 120px;
  margin-top: -50px; }
