body {
  color: #494949;
  letter-spacing: 1px; }

a {
  color: #0097a2; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

p {
  color: #494949; }

.color_element {
  color: #0097a2; }

.color_bg {
  background-color: #0097a2; }

.color_border {
  border-color: #0097a2; }
